<footer id="footer" >
  <div class="fpart-first">
    <div class="container-fluid">
      <div class="row">
        <div class="contact col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <h5> ارتباط با ما</h5>
          <ul>
            <li class="address"><i class="fa fa-map-marker"></i>تهران خیابان آیت الله طالقانی،بعد از تقاطع ولی عصر (عج)،شماره 351کد پستی:1593649313 </li>
            <li class="mobile"><i class="fa fa-phone"></i>+98 85640</li>
            <li class="email"><i class="fa fa-envelope"></i>پست الکترونیکی <a href="contact-us.html"> ارتباط با ما</a>
          </ul>
        </div>
        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <h5> اطلاعات بازار</h5>
          <ul>
            <li><a href="about-us.html">ارتباط با مدیران</a></li>
            <li><a href="about-us.html">ارتباط با کارگزاران</a></li>
            <li><a href="about-us.html"> تقویم کاری</a></li>
            <li><a href="about-us.html"> رسیدگی به شکایات</a></li>
          </ul>
        </div>
        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <h5>ابزار ها</h5>
          <ul>
            <li><a href="contact-us.html">تماس با همکاران</a></li>
            <li><a href="returns.html">پیوندها</a></li>
            <li><a href="sitemap.html"> تقویم کاری</a></li>
          </ul>
        </div>
        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <h5>اطلاعات اضافی</h5>
          <ul>
            <li><a href="manufacturer.html">مدارک</a></li>
            <li><a href="gift-voucher.html">آموزش</a></li>
            <li><a href="#">اطلاعات کاربردی</a></li>
            <li><a href="#">سوالات متداول</a></li>
          </ul>
        </div>
        <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h5>خبر نامه</h5>
          <div class="form-group">
            <label class="control-label"  >ثبت نام برای دریافت خبرنامه.</label>
            <input id="signup" type="email" required="" placeholder="پست الکترونیک" name="email" class="form-control">
          </div>
          <input type="submit" value="ثبت نام" class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>
  <div class="fpart-second">
    <div class="container-fluid">
      <div id="powered" class="clearfix">
        <div class="powered_text pull-left flip">
          <p>کلیه حقوق مادی و معنوی این پرتال متعلق به شرکت بورس کالای ایران می باشد. <a href="http://harnishdesign.net" target="_blank">شرکت بورس کالای ایران</a></p>
        </div>
        <div class="social pull-right flip"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../assets/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../assets/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../assets/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../assets/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../assets/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>


      </div>

    </div>
  </div>
  <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>



